<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/app.css">
    <title>App</title>
</head>
<body>
    <form action="" method="post" class="form">
        <input type="number" step="any" name="value_1" placeholder="Плотность, кг/м3">
        <input type="number" step="any" name="value_2" placeholder="Модуль упругости, ГПа">
        <input type="number" step="any" name="value_3" placeholder="Количество отвердителя, м.%">
        <input type="number" step="any" name="value_4" placeholder="Содержание эпоксидных групп,%_2">
        <input type="number" step="any" name="value_5" placeholder="Температура вспышки, С_2">
        <input type="number" step="any" name="value_6" placeholder="Поверхностная плотность, г/м2">
        <input type="number" step="any" name="value_7" placeholder="Модуль упругости при растяжении, ГПа">
        <input type="number" step="any" name="value_8" placeholder="Прочность при растяжении, МПа">
        <input type="number" step="any" name="value_9" placeholder="Потребление смолы, г/м2">
        <input type="number" step="any" name="value_10" placeholder="Угол нашивки, град">
        <input type="number" step="any" name="value_11" placeholder="Шаг нашивки">
        <input type="number" step="any" name="value_12" placeholder="Плотность нашивки">

        <button type="submit" href="/">Получить результат</button>
        <p class="result">Результат: {{result}}</p>
    </form>
</body>
</html>